#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    left: 0px;
}

body {
	background: url(back6.jpg) top center  ;
}
a:link {
	text-decoration:none; color:#000000
}
a:visited {
	text-decoration:none; color:#000000
}
a:hover {
	text-decoration:blink; color:#000000
}
a:active {
	text-decoration:none; color:#000000
	}
.black {color:#000000;}
.blue {color:#2692E0;}	
#menu
{    
position:relative;
left:300px;

padding-top: 50px;
}

#menu li
{   margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
#menu li a
{   display: block;
	margin: 0 1px 0 0;
    padding: 4px 10px;
    width: 150px;
    background: #656565;
    color: #ffffff;
    text-align:left;
}
#menu li a:hover
{
	background:#B87171;

}
