* { 
	margin: 0; 
	padding: 0; 
}

body { 
	font-size: 62.5%; 
	font-family: Georgia, serif;
	background: url(images1/page-bg.jpg) top center no-repeat #233743; 
}

h6 {
	font-size: 1.4em;
	margin-bottom: 15px;
}

a { color: white; }

label, li {
	display: block;
	padding: 5px;
	font-size: 1.4em;
	color: #e3f1fa;
}

fieldset {
	margin: 115px auto;
	width: 400px;
	padding: 8px 15px 15px 15px;
	border: 1px solid white;
	display: block; /* IE 7 Requires This */
	}
	legend {
		padding: 4px 6px 4px 6px;
		border: 1px solid white;
		font-size: 2.0em;
		color: #e3f1fa;
		font-style: italic;
	}
	
ul { list-style: none; margin-bottom: 15px;}

.results-bar {
	padding: 10px;
	color: white;
	background: url(images1/result-bar-bg.png) left center;
	white-space: nowrap;
}

span.total-votes {
	font-size: 2.6em;
}
